.page {
    width: 100%;
    min-width: $minWidth;
    height: 100%;
    min-height: 100%;
    background-color: $registrationBackgroundColor;
    font-family: $primaryFont;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: $textColor1;
    
    @media (min-width: $mobile5) {
        height: auto;
        padding: 50px 0 30px;
    }

    &__content {
        width: 100%;
        min-height: 100%;
        @include adaptiveValue("padding-top", 50px, 80px, $mobile4, $mobile5);
        @include adaptiveValue("padding-bottom", 15px, 30px, $mobile4, $mobile5);
        @include adaptiveValue("padding-left", 15px, 30px, $mobile4, $mobile5);
        @include adaptiveValue("padding-right", 15px, 30px, $mobile4, $mobile5);
        background-color: $secondaryColor;
        
        @media (min-width: $mobile5) {
            margin: 0px auto;
            width: 536px;
            min-height: 0px;
            border-radius: 10px;
            padding: 40px 30px;
        }

        &_center {
            text-align: center;
        }
    }

    &__logo {
        display: inline-block;
        margin-bottom: 25px;
        width: 33px;
        height: 33px;
    }

    &__title {
        margin-bottom: 25px;
        text-align: center;
        font-size: 32px;
        font-weight: 500;
        color: $textColor1;

        &_check {
            margin-bottom: 15px;
        }
    }

    &__form {
        width: 100%;
    }

    &__google,
    &__input,
    &__button {
        width: 100%;
        height: 60px;
        border-radius: 10px;
    }

    &__google {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 25px;
        transform: translateY(0%);
        border: 1px solid $borderColor1;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease,
                    box-shadow 0.3s ease;

        @media (any-hover: hover) {
    
            &:hover {           
                transform: translateY(-4%);
                box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
            }
        }

        &.page__google_clicked,
        &.page__google_clicked:hover {
            transform: translateY(4%);
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        }
    }

    &__google-icon {
        display: block;
        flex: 0 0 22px;
    }

    &__google-text {
        white-space: nowrap;
        font-weight: 500;
        color: #1D2E4A;
    }

    &__or {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    &__or-line {   
        flex: 1 1 auto;
        margin-left: 2px;
        margin-right: 2px;
        height: 1px;
        background-color: $borderColor2;
    }

    &__or-text {  
        flex: 0 0 auto;
        line-height: 1.4;
        font-size: 14px;
        color: $textColor3;
    }

    &__input {
        margin-bottom: 15px;
        border: 1px solid $borderColor2;
        padding: 18px;
        font-family: $primaryFont;
        line-height: 1.4;
        color: $textColor1;
        transition: border-color 0.3s ease;

        &::placeholder {
            color: $textColor3;
            transition: color 0.3s ease;
        }

        &:focus {
            border-color: $borderColor3;
            
            &::placeholder {
                color: transparent;
            }
        }
    }

    &__text-link {
        display: inline-block;
        position: relative;
        margin-left: 2px;
        line-height: 1;
        font-size: 14px;
        font-weight: 500;
        color: $primaryColor;

        @media (any-hover: hover) {
    
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: transparent;
                transition: background-color 0.3s ease;
            }
    
            &:hover::after {
                background-color: $primaryColor;
            }
        }

        @include mobileClickAnimation;

        &_forgot {
            margin-bottom: 15px;
        }
    }

    &__agreement {
        margin-bottom: 15px;
        margin-left: 2px;
        margin-right: 2px;
        line-height: 1.4;
        font-size: 12px;
        font-weight: 500;
        color: #BCBCBC;
    }

    &__agreement-link {
        display: inline-block;
        position: relative;
        white-space: nowrap;
        cursor: pointer;
        transition: color 0.3s ease;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 90%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #BCBCBC;
            transition: background-color 0.3s ease;
        }

        @media (any-hover: hover) {

            &:hover {
                color: $primaryColor;
                
                &::before {
                    background-color: $primaryColor;
                }
            }
        }

        @include mobileClickAnimation($textColor3, 5px, 5px, 0%, 0%, 4px);

        &.page__agreement-link_clicked {
            color: $primaryColor;

            &::before {
                background-color: $primaryColor;
            }
        }
    }

    &__text  {
        margin: 0 auto 25px;
        line-height: 1.6;
        
        @media (min-width: $mobile3) {
            max-width: 400px;
        }
    }

    &__button {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    &__button-text {
        white-space: nowrap;
        line-height: 1.2;
        font-family: $primaryFont;
        font-size: 20px;
        font-weight: 300;
    }
}

.submit-button {
    margin-bottom: 15px;
    background-color: $primaryColor;

    @media (any-hover: hover) {

        &:hover {           
            background-color: #886c56;
        }
    }

    &_check {
        margin-bottom: 25px;
    }

    &.page__button_clicked {
        background-color: #886c56;
    }

    &__text {
        color: $secondaryColor;
    }
}


.link-button {
    background-color: #F4F4F4;

    @media (any-hover: hover) {

        &:hover {           
            background-color: #DFDFDF;
        }
    }

    &.page__button_clicked {
        background-color: #DFDFDF;
    }

    &__text {
        color: $textColor2;
    }
}
